---
import "../styles/global.css";
import "../styles/components.css";

const siteUrl = "https://joecupit.com"
const siteTitle = "Joe Cupit";
const siteDescription = "My website";
const image = siteUrl + "/assets/joe-cupit-dot-com.png";

const { title, description } = Astro.props;

const pageURL = new URL(Astro.url.pathname, Astro.site);
const pageTitle = title ? `${title} by ${siteTitle}` : siteTitle;
const pageDesc = description ?? siteDescription;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{pageTitle}</title>
		<meta name="description" content={pageDesc} />

		<link rel="canonical" href={pageURL} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={pageURL} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={pageDesc} />
		<meta property="og:image" content={image} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={pageTitle} />
		<meta name="twitter:description" content={pageDesc} />
		<meta name="twitter:image" content={image} />
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
