---
import "../styles/project.css";

import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Layout from "./Layout.astro";

import ArrowIcon from "../assets/icons/ArrowIcon.astro";

const { caption, title, coverImage, sections, images, tldr, url, technologies, roles, challenges, solutions } = Astro.props;
---

<Layout
  title={`project : ${title}`}
  maxWidth="74ch"
>
  <div class="project">
    <div class="project-header">
      <div>
        <span>{(caption ?? "Web project") + ":"}</span>
        <h1 style="font-size: var(--fs-big); font-weight: 800;">{title}</h1>
      </div>
      <a class="project-button" href={url} target="_blank">Visit site <ArrowIcon /></a>
    </div>

    {sections?.map((section: {title?: string; content?: string[]; image?: ImageMetadata}) => {

      if (section.image) {
        return (
          <div class="project-image">
            <Image src={section.image} alt="" loading="lazy" />
          </div>
        )
      }

      return (
        <div class="project-section">
          <div>
            <h2>{section.title}</h2>
            <hr />
          </div>
          {section.content?.map((c: string) => <p>{c}</p>)}
        </div>
      )
    })}

    {(technologies || roles) &&
      <div class="project-row">
        {technologies &&
          <div class="project-section">
            <div>
              <h2>Technologies</h2>
              <hr />
            </div>
            <ul>{technologies.map((t: string) => <li>{t}</li>)}</ul>
          </div>
        }
        {roles &&
          <div class="project-section roles">
            <div>
              <h2>Roles</h2>
              <hr />
            </div>
            <ul>{roles.map((t: string) => <li>{t}</li>)}</ul>
          </div>
        }
      </div>
    }

    <div class="project-section">
      <a class="button-link" href="/web">next project</a>
      <a class="button-link" href="/web">back to projects</a>
    </div>
  </div>

</Layout>